@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SHINDYG</h1>
    <p class="lead">In the near future COVID-19 will finally be controlled and a thing of the past, like the Spanish Flu of the 1920 era. You are now eager to get out into public and leave the confines of your home. Quarantine and Isolation got you down.</p>
    <p class="lead">Use SHINDYG to now find the glitziest shindigs to go experience! Because life is about the experiences!</p>

    <p><a href="~/Event/" class="btn btn-primary btn-lg">LET's GO &raquo;</a></p>
    <p>Brought to you by: SiN Primus Studios</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            Find your next EXPERIENCE! Look through different Events and Venues!
        </p>
        <p><a class="btn btn-default" href="~/Event/">See Events &raquo;</a></p>
        <p><a class="btn btn-default" href="~/Venue/">See Venues &raquo;</a></p>
    </div>
    @if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Organizer"))
    {
        <div class="col-md-4">
            <h2>Organizers</h2>
            <p>Are you an Event Organizer or a Promoter? Then we are sure you would like to have a great turn out for your planned SHINDYG! SiN is here to help you get started, just add your Event and Venue and your event will be poppin'!</p>
            <p><a class="btn btn-default" href="~/Event/Create/">Add New Event &raquo;</a></p>
        </div>
    }
    <div class="col-md-4">
        <h2>Stay Home</h2>
        <p>If you don't want to go out, then you can stay home! Not much we can do to help you but you could watch some YouTube!</p>
        <p><a class="btn btn-default" href="https://youtu.be/PMivT7MJ41M?t=64">Watch YOUTUBE! &raquo;</a></p>
    </div>
</div>